/*
 *
   shade 0 = #4EBBB7 = rgb( 78,187,183) = rgba( 78,187,183,1) = rgb0(0.306,0.733,0.718)
   shade 1 = #ADEDEA = rgb(173,237,234) = rgba(173,237,234,1) = rgb0(0.678,0.929,0.918)
   shade 2 = #78D6D3 = rgb(120,214,211) = rgba(120,214,211,1) = rgb0(0.471,0.839,0.827)
   shade 3 = #2F9E99 = rgb( 47,158,153) = rgba( 47,158,153,1) = rgb0(0.184,0.62,0.6)
   shade 4 = #168E89 = rgb( 22,142,137) = rgba( 22,142,137,1) = rgb0(0.086,0.557,0.537)

   Font dark: #525252
   Font light: #7f8c8d
 * 
 */

/** general **/
body {
    margin: 0;
    padding: 0;
    color: #7f8c8d;
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.no-padding-left {
    padding-left: 0;
}
/** navbar **/
.navbar {
    background: #4EBBB7;
    color: #FFF;
}
nav div, .user {
    float: left;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.user {
    float: right;
    font-weight: normal;
}
.user a {
    color: #168E89;
}
.arrow {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;
    width: 26px;
    font-size: 45px;
    color: #FFF;
}

h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #7f8c8d;
}

/** form **/
.reminder-form {
    overflow: auto;
}
.reminder-form label, .reminder-form input, .reminder-form textarea, .reminder-form select {
    clear: both;
    float: left;
}
.reminder-form textarea {
    resize: vertical;
}
.reminder-form label {
    margin: 12px 0;
    font-size: 20px;
}
.reminder-form .number {
    background: #4EBBB7;/* alt #1abc9c */
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 8px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px 15px 15px 0px;
}
.reminder-form input[type="text"],
.reminder-form input[type="datetime"],
.reminder-form textarea,
.reminder-form select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.reminder-form input[type="text"]:focus,
.reminder-form input[type="datetime"]:focus,
.reminder-form textarea:focus,
.reminder-form select:focus
{
    box-shadow: 0 0 5px #4EBBB7;
    padding: 3%;
    border: 1px solid #4EBBB7;
}
.btn-submit
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #4EBBB7;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #4EBBB7;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.btn-submit:hover
{
    background: #2F9E99;
    border: 1px solid #2F9E99;
    border-width: 1px 1px 3px;
}

/* main */