.checkbox {
    line-height: 20px;
    margin-bottom: 25px!important;
}
.addendum {
    margin-top: 25px;
}
.addendum:last-of-type {
    margin-bottom: 75px;
}
.register-link {
    color: #2EAA91;
}
.error-message {
    float: left;
    clear: both;

}
footer {
    margin-top: 50px;
}
