html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #7f8c8d;
    position: relative;
    height: 100%;
}
nav ul {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

/** general **/
.overflow {
    overflow: auto;
}
.container {
    display: block; /* IE */
}
.highlight-text {
    border-bottom: 1px solid #FFF;
}

.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
/** Logo **/
.logo {
    font-size: 28px;
}
.logo-brand {
    font-weight: bold;
}

/** nav **/
.nav-wrapper {
    background: #16a085;
    padding: 0;
}
header {
    background: rgba(255, 255, 255, 0.1);
}
nav {
    color: #FFF;
}

nav ul {
    list-style-type: none;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
}
nav li {
    float: left;
    text-align: center;
    display: inline-block;
    padding: 0 50px;
    height: 50px;
    line-height: 50px;
}
nav a {
    display: inline-block;
}

/** First Heading **/
.first-heading {
    background: #16a085;
    color: #FFF;
}
.first-heading p {
    font-size: 18px;
}
.first-heading .container {
    position: relative;
    min-height: 250px;
}
.first-heading .row div{
    z-index: 10;
}
.first-heading h1 {
    text-align: left;
    margin-top: 50px;
    font-size: 36px;
    font-weight: normal;
}
h1 {
    text-align: center;
}
.phone-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    z-index: 1;
}
.heading-button {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    margin-bottom: 25px;
    display: inline-block;
}
.circle-arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.2);
    transform: rotateY(90deg);
}
/** Main **/
.title {
    font-size: 30px;
    margin-top: 25px;
}
.quick-reminder-title {
    text-align: center;
}
main {
    color: #34495e;
}
main p {
    line-height: 26px;
}
/** main - section left **/
.title-margin {
    margin-top: 40px;
}
.btn {
    border: 1px solid #2EAA91;
    padding: 5px 10px;
    border-radius: 5px;
}
.sign-up {
    border-color: #4EBBB7;
    border-radius: 10px;
    color: #4EBBB7;
    padding: 5px 20px;
    transition: 0.5s ease;
    font-size: 20px;
}
.sign-up:hover {
    background: #4EBBB7;
    color: #FFF;
}
.section-left ul li {
    height: 26px;
    line-height: 26px;
    list-style-type: none;
}

/** main - Section Right **/
.section-right {
    text-align: left;
}

/** main - quick reminder form **/
.flat-form label, .flat-form input, .flat-form textarea, .error-message {
    clear: both;
    float: left;
}
.flat-form textarea {
    resize: vertical;
}
.flat-form label {
    margin: 12px 0;
    font-size: 20px;
}
.flat-form .number {
    background: #2EAA91;/* alt #1abc9c */
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 8px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px 15px 15px 0px;
}
.flat-form input[type="text"],
.flat-form input[type="email"],
.flat-form input[type="password"],
.flat-form input[type="datetime"],
.flat-form textarea
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 3%;
    font: 95% Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: #34495e;
}
.flat-form input[type="text"]:focus,
.flat-form input[type="datetime"]:focus,
.flat-form input[type="email"]:focus,
.flat-form input[type="password"]:focus,
.flat-form textarea:focus
{
    box-shadow: 0 0 5px #2EAA91;
    padding: 3%;
    border: 1px solid #2EAA91;
}
.btn-submit
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #2EAA91;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #2EAA91;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    border-radius: 0;
}
.btn-submit:hover
{
    background: #16A085;
    border: 1px solid #16A085;
    border-width: 1px 1px 3px;
}

/** Arrow **/
.arrow-down {
    width: 100%;
    text-align: center;
    font-size: 40px;
    transform: rotate(90deg) scaleX(0.5);
    margin: 50px 0;
}

/** Example Section **/
.example-section {
    text-align: center;
}
.example-placeholder {
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background: #E4E4E4;
    color: #FFF;
}
.example {
    display: inline-block;
    margin: 25px 0;
}
.example div {
    float: left;
}
.example-arrow {
    width: 100px;
    line-height: 150px;
    height: 150px;
    text-align: center;
}

/** DEBUG **/
.blue {
    background: rgba(0, 0, 255, 0.1);
}
.green {
    background: rgba(0, 255, 0, 0.1);
}
.red {
    background: rgba(255, 0, 0, 0.1);
}

/** features **/
.features {
    background: #ecf0f1;
    padding: 20px;
    color: #525252;
    margin-top: 75px;
}
.features-title {
    font-size: 36px;
    padding-bottom: 25px;
}
.icon-bubble {
    background: #525252;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 36px;
    border-radius: 100px;
    display: inline-block;
    color: #FFF;

}
.btn-signup-big {
    display: inline-block;
    margin: 50px 0 70px 0;
    border:2px solid #16a085;
    color: #16a085;
    padding: 5px 25px;
    font-size: 32px;
    border-radius: 25px;
    transition: 0.5s;
}
.btn-signup-big:hover {
    cursor: pointer;
    background: #16a085;
    color: #FFF;
}
.wrapper {
    min-height: 100%;
    position: relative;
}
footer {
    background: #2c3e50;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
}
/*Font dark: #525252
   Font light: #7f8c8d*/


/*** Cell phone ***/
.cellphone {
   background: none repeat scroll 0 0 #fff;
   color: #FFFFFF;
   font-family: "Open Sans";
   line-height: 26px;
   width: 400px;
   margin: 54px auto 0 auto;
   box-shadow: 0px 5px 5px #ccc;
   overflow-X: hidden;
   position: relative;
}
.left {
 position: absolute;
 top: 0;
 left: 35px;
 font-size: 18px
}

.left:after {
   border: 3px solid #16A085;
   border-right: 3px solid transparent;
   border-top: 3px solid transparent;
   content: " ";
   height: 14px;
   left: -20px;
   position: absolute;
   top: 20px;
   -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 transform: rotate(45deg);
   width: 14px;
   box-sizing: unset;
}
.right {
 position: absolute;
 top: 0;
 right: 15px;
 font-size: 18px
}
.cellphone-header {
 color: #16A085;
 background: #eee;
 border: 1px solid #ccc;
 border-bottom: 1px solid #bbb;
 box-shadow: 0 1px 2px rgba(1,1,1,0.2);
 height: 60px;
 text-align: center;
 font-size: 20px;
 line-height: 58px;
 white-space: nowrap;

}
.cellphone-header h2 {
 font-weight: bold;
 margin: 0;
 color: #111111;
 font-size: 16px;
}
.messages-wrapper {
 padding-top: 10px;
 position: relative;
 border: 1px solid #ddd;
 border-top: 0 none;
}
.message {
   border-radius: 20px 20px 20px 20px;
   margin: 0 15px 10px;
   padding: 15px 20px;
   position: relative;
}
.message-time {
    font-size: 11px;
    line-height: 14px;
}
.message.to {
   background-color: #2EAA91;
   color: #fff;
   margin-left: 80px;
}
.message.from {
   background-color: #E5E4E9;
   color: #363636;
   margin-right: 80px;
}
.message.to + .message.to,
.message.from + .message.from {
 margin-top: -7px;
}
.message:before {
   border-color: #2EAA91;
   border-radius: 50% 50% 50% 50%;
   border-style: solid;
   border-width: 0 20px;
   bottom: 0;
   clip: rect(20px, 35px, 42px, 0px);
   content: " ";
   height: 40px;
   position: absolute;
   right: -50px;
   width: 30px;
   z-index: 5;
   box-sizing: unset;
}
.message.from:before {
   border-color: #E5E4E9;
   left: -50px;
   transform: rotateY(180deg);
}
