.has-error {
    box-shadow: 0 0 5px red;
    padding: 3%;
    border: 1px solid red;
}
.checkbox {
    line-height: 20px;
    margin-bottom: 25px!important;
}
.addendum {
    margin-top: 25px;
    margin-bottom: 50px;
    float: left;
}
.register-link {
    color: #2EAA91;
}
.error-message {
    float: left;
    clear: both;

}
