@import "prism.css";

@page {
  size: A4;

  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: "Mark Gerarts";
    font-size: 9pt;
    color: #333;
  }

  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: counter(page);
    font-size: 9pt;
  }

    @top-left {
        content:  string(doctitle);
        margin: 30pt 0 10pt 0;
        font-size: 9pt;
        color: #333;
    }
    @top-right {
        content: string(subtitle);
        margin: 30pt 0 10pt 0;
        font-size: 9pt;
        color: #333;
    }

  @footnotes {
    border-top: 0.6pt solid black;
    padding-top: 8pt;
  }
}

@page:first {
    @bottom-right {
        content: none;
    }
    @bottom-left {
        content: none;
    }
}

@font-face {
    font-family: Lato;
    src: url(lib/Lato-Regular.ttf);
}
@font-face {
    font-family: lato;
    src: url(lib/Lato-Bold.ttf);
    font-weight: bold;
}


h1, h2, .p-subtitle {
    font-family: "Lato";
}
/* Reset chapter and figure counters on the body */
body {
    counter-reset: chapternum figurenum;
    font-family: "Source Sans Pro", "Lato", "Trebuchet MS", "Lucida Sans", Tahoma, sans-serif;
    line-height: 1.5;
    font-size: 11pt;
}

/* Get the title of the current chapter, which will be the content of the h1.
Reset figure counter because figures start from 1 in each chapter. */
h1 {
    string-set: doctitle content();
    page-break-before: always;
    counter-reset: figurenum;
    counter-reset: footnote;
    line-height: 1.3;
}

/* Increment chapter counter */
* + h1.chapter {
    counter-increment: chapternum;
    counter-reset: subnum;
}
* + h2.subtitle {
    counter-increment: subnum;
}
h1.chapter:before {
    /*counter-increment: chapternum;*/
    content: counter(chapternum) ". ";
}
h2.subtitle:before {
    content: counter(chapternum) "." counter(subnum) " "
}
h2.subtitle {
    string-set: subtitle content();
}

/* Increment and display figure counter */
figcaption:before {
  counter-increment: figurenum;
  content: counter(chapternum) "-" counter(figurenum) ". ";
}


/** Footnotes **/
/*.fn {
  float: footnote;
}

.fn {
  counter-increment: footnote;
}

.fn::footnote-call {
  content: counter(footnote);
  font-size: 9pt;
  vertical-align: super;
  line-height: none;
}

.fn::footnote-marker {
  font-weight: bold;
}
.contents .fn {
    counter-reset: section;
}

.frontcover .fn {
    display: none;
}*/

/**//**/
h1, h2, h3, h4, h5 {
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside:avoid;
}

h1+p, h2+p, h3+p {
  page-break-before: avoid;
}

tr, figure, p, code, pre, .keep-together {
  page-break-inside: avoid;
}
/** algemeen **/
.p-subtitle {
    font-weight: bold;
}
/** Index **/
ul.toc li a {
    content: target-content(attr(href));
}
ul.toc {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
ul.toc li a {
    color: #000;
    text-decoration: none;
}
ul.toc-sub {
    margin-left: 15px;
}
ul.toc a:before {
    content: target-counter(attr(href), chapternum) ". ";
}
ul.toc-sub a:before {
    content: target-counter(attr(href), chapternum) "." target-counter(attr(href), subnum)" ";
}
ul.toc a:after {
    content: leader('.') target-counter(attr(href), page);
}

/** Voorblad **/
#logo {
    width: 200px;
}

/** Database tabel **/
.db-table {
    border: 1px solid #aaa;
    padding: 0;
    list-style: none;
    width: auto;
    float: left;
    margin: 5px 5px 0 0;
    overflow: auto;
}
.db-table li {
    padding: 0 5px;
}
.db-table li img {
    margin-right: 5px;
}
.db-datatype {
    color: #999;
}
.db-header {
    background: url(images/pma/pmaheader.png);
    background-repeat: repeat-x;
    text-align: center;
    font-weight: bold;
}
.db-wrapper {
    overflow: auto;
}
.db-foreign-key {
    background: rgba(0, 255, 0, 0.15);
}
.db-wrapper + p {
    clear: both;
    padding-top: 25px;
}

/** gebruikte texhs **/
.gebruikte-techs {
    border-collapse: collapse;
}
.gebruikte-techs td:first-child {
    width: 150px;
    vertical-align: top;
    text-align: center;
}
.gebruikte-techs td {
    padding-bottom: 25px;
}
.gebruikte-techs img {
    width: 100%;
    margin-top: 28px;
}
#logo-laravel {
    width: 75%;
}
#logo-twilio {
    width: 90%;
    margin-top: -8px;
}
#logo-mollie {
    width: 80%;
}
#logo-jwt {
    width: 50%;
}
#logo-vuejs {
    width: 50%;
}
#logo-bootstrap {
    width: 85%;
}
#logo-fa {
    width: 60%;
}
.tech-title {
    font-weight: bold;
}
.tech-alts {
    font-weight: bold;
}

/** API endpoints **/
.api-endpoints {
    page-break-inside: avoid;
}
.api-endpoints thead th {
    text-align: left;
}
.api-endpoints td:first-child {
    width: 170px;
}
.api-endpoints td, .api-endpoints th {
    padding: 0 5px;
}
.api-endpoints td {
    vertical-align: top;
}
.api-endpoints .section-end td {
    padding-bottom: 25px;
}
/** Code **/
code[class*="language"], pre[class*="language-"] {
    line-height: 1.2!important;
}
.folder-structure {
    font-size: 12px;
}
:not(pre) > code {
    background: #f5f2f0;
    padding: 1px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.125);
    line-height: 1.0;
}

/** jwt **/
.jwt-color-1 {
    color: #fb015b;
}
.jwt-color-2 {
    color: #d63aff;
}
.jwt-color-3 {
    color: #00b9f1;
}

.center-text {
    text-align: center;
}
#state-image {
    display: inline-block;
    width: 80%;
}
